/* regole generali */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Lato';
   list-style-type: none;
   text-decoration: none;
}

/* colors background */
.gray{background-color:#f8f9fc;}
.white{background-color:#ffffff;}
.darkblue{background-color:#27314F;}


/* vari */
   .text-left{text-align: left;}
   .text-center{text-align: center;}

/* blocchi */
.blocchi{
   width: 70%;
   margin: 0 auto;
}


/* BLOCCO 1 (HEADER)*/
#blocco-1{
   min-height: 600px;
}
   /* nav */
   nav{
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      height: 50px;
   }
      /* left */
      #logo, nav > a{
         width: 110px;
         height: 20px;
         align-self: center;
      }

      /* center */
      #nav-center{
         display: flex;
         align-self: center;
      }
      #nav-center > li > button, #nav-center > li:first-child > a{
         padding: 10px 0;
         margin: -5px 25px;
         margin-right: 1.5px;
         font-size: 12px;
         cursor: pointer;
         color: #3C4858;
         font-weight: 550;
         font-family: 'Josefin Sans', sans-serif;
      }
      #nav-center > li > button:hover,
      #nav-center > li i:hover,
      #nav-center > li:first-child > a:hover{
         color: #2F55D4;
      }

      #nav-center > li i{
         color: #3C4858;
         font-size: 10px;
      }

      /* dropdown */
      .drop-down{position: relative;}

      .drop-down > .sub-menu{
         border: 1px solid #E9ECEF;
         min-height: 50px;
         min-width: 75px;
         text-align: center;
         border-top: 1px solid transparent;
         position: absolute;
         top: -10px;
         right: -10px;
         font-size: 12px;
         font-weight: normal;
         padding-top: 10px;
         transition: 0.25s;
         pointer-events: all;
         visibility: hidden;
      }
      .drop-down > button{
         background: transparent;
         outline: none;
         border: none;
         cursor: pointer;
         font-size: 12px;
         font-weight: normal;
      }
      .drop-down > .sub-menu ul li{
         padding: 10px 5px;
         border-bottom: 1px solid #E9ECEF;
         transition: 0.25s;
      }
      .drop-down > .sub-menu ul li:hover{
         background-color: #ddecff;
      }
      .drop-down > .sub-menu ul li:hover a{
         color: #3C4858;
         border-bottom: 1px solid #3C4858;
      }

      #nav-center > li:nth-child(2) .sub-menu{min-width: 92.5px;}
      .drop-down > .sub-menu ul li:first-child{margin-top: 10px;}
      .drop-down > .sub-menu ul li:last-child{border-bottom: none;}
      .drop-down > .sub-menu ul li a{color: #3C4858;}

      /* visibilità */
      #nav-center .drop-down:focus-within .sub-menu{
         opacity: 1;
         visibility: visible;
         position: absolute;
         margin-top: 15px;
      }
      /* dropdown */

      /* right */
      #nav-right{
         display: flex;
         align-self: center;
      }
      #nav-right > li:nth-child(1){
         background-color: #f8f9fc;
         box-shadow: 0 0 0 0;
         color: #ADB5BD;
         font-size: 16px;
         border: 1px solid #f8f9fc;
      }
      #nav-right > li:nth-child(1):hover{
         background-color: #f8f9fc;
         color: #8492a6;
         transform: scale(1);
      }
      #nav-right > li{
         padding: 6.5px 9px;
         box-shadow: 0px 2px 5px 1px rgba(173,181,189,1);
         border-radius: 5px;
         font-size: 14px;
         margin: 0 5px;
         background-color: #2F55D41A;
         cursor: pointer;
         color: #2F55D4;
         border: 1px solid #2F55D41A;
         transition: 0.25s;
      }
      #nav-right > li:nth-child(3){
         padding: 6.5px 10px;
      }
      #nav-right > li:hover{
         color: #e3e8f8;
         background-color: #2f55d4;
      }
/* nav */

/* main header */
.cont-main-header{
   height: 60%;
   margin: 70px 0;
   display: flex;
}
   /* get started */
   .get-started{
      margin-right: 25px;
      margin-top: 50px;
      width: 60%;
      display: flex;
      flex-flow: nowrap column;
   }

      .get-started > div{ margin-bottom: 12.5px;}
         .get-started > div > span{
            font-weight: 600;
            font-size: 11px;
            border: 1px solid #d3d3d3;
            border-radius: 10px;
            padding: 2.5px 7px;
            background-color: #2F55D41A;
            color: #2F55D4;
         }
      .get-started > h1{
         color: #161C2D;
         line-height: 1.5em;
         margin-bottom: 12.5px;
      }
      .get-started > p{
         color: #8492A6;
         font-weight: 500;
         margin-top: 10px;
         margin-bottom: 20px;
      }

      .get-started .b1-btns{
         display: flex;
         flex-flow: row wrap;
         margin-bottom: 0;
      }
         .get-started a,
         #blocco-4 a,
         #email button{
            padding: 8px 15px;
            color: #f8f9fc;
            font-weight: bold;
            background-color: #2f55d4;
            border: 1px solid #2f55d4;
            border-radius: 5px;
            box-shadow: 0px 2px 5px 1px rgba(173,181,189,1);
            margin-right: 8px;
            margin-bottom: 10px;
            transition: 0.15s;
            cursor: pointer;
         }
         .get-started a:hover,
         #email button:hover{
            box-shadow: 0 0 0 0;
            background-color: #f8f9fc;
            color: #2f55d4;
            border: 1px solid #2f55d4;
         }

   .jumbotron{
      height: 400px;
   }
/* partners */
#divisorio{
   border-top: 0.5px solid #E9ECEF;
   width: 100%;
   height: 1px;
}
.cont-partners{
   width: 65%;
   margin: 0 auto;
   margin-top: 25px;
   min-height: 50px;
   display: flex;
   flex-flow: nowrap row;
   justify-content: space-around;
}

   .cont-partners > a{
      padding: 10px;
      border-radius: 10px;
      align-self: center;
      transition: 0.25s;
   }
   .cont-partners > a:hover{
      box-shadow: 0px 7px 15px 3px rgba(255,255,255,1);
      transform: scale(1.1);
   }
   .cont-partners > a > img{height: 27.5px;}

/* concavo */
.div {
  position: relative;
  bottom: 50px;
  overflow: hidden;
  width: 100%;
  background-color: #f8f9fc;
  z-index: -1;
}

.div-inner {
  position: relative;
  background-color: #ffffff;
  height: 90px;
}

.div-inner:before,
.div-inner:after {
  box-shadow: 0 0px 0 80px #f8f9fc;
  border-radius: 100%;
  position: absolute;
  height: 70px;
  content: '';
  right: -20%;
  left: -20%;
  bottom: 100%;
}
/* main header */
/* BLOCCO 1 (HEADER) */


/* BLOCCO 2 (1/2) */
#blocco-2-1{margin-bottom: 75px;}
#blocco-2-1 > h1{
   margin-bottom: 25px;
}
   #blocco-2-1 > p{
      color: #8492A6;
      margin-bottom: 50px;
   }
      #blocco-2-1 > p > a{
         color: #2f55d4;
         font-weight: bolder;
      }

.cont-features{
   min-height: 230px;
   display: flex;
   justify-content: space-between;
}
   .box{
      position: relative;
      width: calc(100% / 4);
      margin: 0 10px;
      padding: 15px;
      border: 1px solid #E9ECEF;
      border-radius: 5px;
      box-shadow: 0px 1px 2.5px 0.5px rgba(173,181,189,0.4);
   }
   .box:hover{bottom: 10px;}

   .box:first-child{margin-left: 0;}
   .box:last-child{margin-right: 0;}

   .box > img {
      height: 50px;
      padding: 12px;
      padding-left: 14px;
      background-color: #2F55D41A;
      border-radius: 5px;
      margin-bottom: 21px;
      color: #2f55d4;
   }
   .box > h2{
      font-size: 16.5px;
      color: #3C4858;
      margin-bottom: 13px;
   }
   .box > p{
      font-size: 14px;
      color: #8492A6;
      margin-bottom: 15px;
   }
   .box > a{color: #2f55d4; margin-bottom: 10px;}
   .box > a:hover{text-decoration: underline;}


/* BLOCCO 2 (2/2) */
#blocco-2-2{
   height: 400px;
   text-align: center;
   margin: 0 auto;
   width: 50%;
}
   #blocco-2-2 > span, #blocco-2-2 button{
      color: #2f55d4;
      font-weight: bold;
   }
   #blocco-2-2 > h1 {
      color: #000;
      margin: 19px;
   }
   #blocco-2-2 > p{color: #8492A6;}
      #blocco-2-2 > p > a{
         color: #2f55d4;
         font-weight: bold;
      }

   /* install */
   #cont-install{
      width: 100%;
      height: 29%;
      background-color: #3C4858;
      border-radius: 5px;
      margin-top: 60px;
      padding: 20px 15px;
   }
      #install{
         background-color: #4e5a68;
         border-radius: 5px;
         display: flex;
         flex-flow: row nowrap;
         justify-content: space-around;
      }
      .selected{background-color: #3C4858;}
         #install > button{
            background-color: #4e5a68;
            align-self: center;
            color: #f8f9fc;
            height: 50%;
            border: 1px solid #4e5a68;
            width: 100%;
            height: 34px;
            transition: 0.25s;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
         }
         #install > button:first-child{
            background-color: #3C4858;
         }

         #install > button:hover,
         #install > button:focus,
         .selected{
            background-color: #3C4858;
         }





   #cont-install > p {
      margin: 15px 0;
      text-align: left;
      color: #8492A6;
      font-weight: bold;
   }
   #cont-install > p > span {
      color: #2ECA8B;
   }


   .check{margin-top: 18px;}
      .check > span{
         color: #8492A6;
         margin-right: 40px;
         font-weight: bold;
      }
         .check > span > i{
            color: #2ECA8B;
            padding-right: 5px;
         }
/* BLOCCO 2 */


/* BLOCCO 3 */
#blocco-3{
   width: 75%;
}
   .p1{
      font-size: 15px;
      margin-bottom: 16px;
      font-weight: bold;
   }
   .p2{
      line-height: 1.85em;
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 30px;
   }
      .p2 > i{
         color: #2f55d4;
         margin-right: 5px;
      }
      #blocco-3 .b1-btns > a:hover,
      #blocco-4 a:hover{
         background-color: #2443ac;
         color: #f8f9fc;
      }
      .b1-btns > a > i{
         font-size: 12.5px;
         font-weight: lighter;
         padding-left: 5px;
      }

      #blocco-3 > .rates > h1,
      #blocco-4 .rates > h1 {
         color: #000;
         margin: 19px;
      }
      #blocco-3 > .rates > p,
      #blocco-4 .rates > p
      {color: #8492A6;}
         #blocco-3 > .rates > p > a,
         #blocco-4 .rates > p > span{
            color: #2f55d4;
            font-weight: bold;
         }
/* BLOCCO 3 */



/* BLOCCO 4 */
#blocco-4{
   width: 75%;
   margin-top: 15px;
   margin-bottom: 90px;
}
   #cont-big-boxes{
      margin: 50px 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
   }
   #cont-big-boxes > .big-box:first-child{
      margin-left: 0;
   }

   /* label */
   #label{
      position: relative;
      width: 120px;
      height: 25px;
      background: rgb(241,116,37);
      background: radial-gradient(circle, rgba(241,116,37,1) 0%, rgba(230,107,30,1) 50%);
      color: #f8f9fc;
      font-weight: 500;
      position: absolute;
      top: 20px;
      right: -26.5px;
      text-align: center;
      border-bottom-left-radius: 20%;
      border-top-left-radius: 500px;
      border-bottom-right-radius: 20%;
      border-top-right-radius: 500px;
      transform: rotate(45deg);
   }
   #one{
      width: 40px;
      height: 20px;
      background-color: #ffffff;
      position: absolute;
      top: -10px;
      left: -15px;
      transform: rotate(135deg);
   }
   #two{
      width: 40px;
      height: 20px;
      background-color: #ffffff;
      position: absolute;
      top: -10px;
      right: -17px;
      transform: rotate(-135deg);
   }
   /* label */


   #cont-big-boxes > .big-box:last-child{
      margin-right: 0;
   }
      #blocco-4 .big-box{
         position: relative;
         min-height: 300px;
         width: calc(100% / 3);
         margin: 0 10px;
         padding: 22.5px 15px;
         border: 1px solid #E9ECEF;
         border-radius: 7.5px;
         box-shadow: 0px 1px 2.5px 0.5px rgba(173,181,189,0.4);
         transition: 0.25s;
      }
      #blocco-4 .big-box:hover{
         transform: scale(1.05);
         border-bottom: 3px solid #2F55D4;
      }
         #blocco-4 .big-box span:first-child{
            font-size: 12.5px;
            padding: 8px 17.5px;
            border-radius: 15px;
            background-color: #e9edfb;
            color: #2f55d4;
            font-weight: bold;
            border: 1px solid #2F55D41A;
         }

         /* prices */
         .price{
            padding: 10px 0;
            border-bottom: 1px solid #E9ECEF;
         }
         .price > h1{
            margin-top: 20px;
            margin-bottom: 5px;
         }
         .price > span, .price > p{
            font-size: 13.5px;
            color: #8492a6;
            padding: 15px 0;
            font-weight: 500px;
            padding-bottom: 8px;
         }
         /* checks */
         /* // vedi blocco 3 */
         .big-box .p2{
            color: #8492A6;
            font-size: 14px;
            margin: 15px 0;
         }

         /* // vedi btn blocco 3 */
         #blocco-4 a{
            display: block;
            text-align: center;
            transition: 0.25s;
         }

         #blocco-4 .big-box > span:last-child{
            color: #8492A6;
            font-size: 14px;
            margin-top: 5px;
         }

   /* email address input*/
   #email{
      width: 70.5%;
      height: 45px;
      border: 1px solid #E9ECEF;
      margin: 30px auto;
      border-radius: 20px;
      position: relative;
   }
      #email input{
         position: relative;
         padding-left: 22px;
         font-weight: 500;
         font-size: 16px;
         align-self: center;
         width: 100%;
         height: 100%;
         border-radius: 20px;
         border: none;
         transition: 0.10s;
      }
      #email input:focus{
         box-shadow: 0px 2px 5px 1px rgba(173,181,189,1);
         border: 1px solid #2f55d4;
      }
      /* vedi Get Started btn (blocco 1) */
      #email button{
         border-radius: 20px;
         align-self: center;
         position: absolute;
         top: 4px;
         right: -4px;
      }
/* BLOCCO 4 */


/* BLOCCO 5 (FOOTER)*/
/* top */

#blocco-5, #blocco-5 a{
   width: 75%;
   color: #ADB5BD;
   transition: 0.25s;
}
   #blocco-5 a:hover{
      color: #f8f9fc;
   }
   #blocco-5 p, #blocco-5 li{
      font-size: 14px;
      line-height: 1.5em;
   }
   .cont-top-footer{
      display: flex;
      flex-flow: nowrap row;
      justify-content: space-between;
      margin: 60px 0;
      padding-top: 60px;
   }
   .cont-top-footer h1{
      color: #f8f9fc;
      font-size: 16.5px;
   }
   .cont-top-footer li{
      padding: 5px;
   }
      .fot-box{margin: 0 10px;}
      .fot-box:first-child{margin-left: 0;}
      .fot-box:last-child{margin-right: 0;}
         /* 1 */
         .fot-box:first-child,
         .fot-box:last-child{ /*4*/
            width: 30%;
         }
         .fot-box p, .fot-box > ul{
            padding: 25px 0;
         }
            /* light logo */
            .fot-box:first-child > img{
               width: 110px;
               height: 20px;
            }
            /* social */
            .fot-social > a > i{
               padding: 5px 7.5px;
               margin: 0 2px;
               border: 1px solid #ADB5BD;
               border-radius: 5px;
               color: #ADB5BD;
               transition: 0.25s;
            }
            .fot-social > a > i:hover{
               background-color: #f8f9fc;
               color: #27314f;
               border: 1px solid #27314f;
            }
      /* freccette */
      .fot-box ul i{
         font-size: 9px;
         margin-right: 8px;
      }

      /* email2 Newsletter input */
      #email2 > input,
      #email2 > button{display: block;}

      #email2 > h2{
         font-size: 14px;
         font-weight: bolder;
      }
      #email2 > h2 > span{
         color: #E43F52;
      }

      /* input */
      #cont-email2{
         height: 45px;
         width: 100%;
         margin: 15px 0;
         padding: 10px 8px;
         background-color: #313d63;
         border: none;
         border-radius: 5px;
         display: flex;
         justify-content: center;
      }

         #cont-email2 > span{
            width: 40%;
            align-self: center;
            font-size: 13px;
            margin-right: 5px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
         }
            #cont-email2 > span > i{
               align-self: center;
            }
         #cont-email2 > input{
            width: 55%;
            height: 30px;
            align-self: center;
            font-size: 15px;
            background-color: #313d63;
            border: none;
            color: #ADB5BD;
         }

      /* button */
      #email2 > button{
         position: relative;
         width: 100%;
         height: 42.5px;
         margin: 15px 0;
         padding: 10px 8px;
         background-color: #313d63;
         border: none;
         border-radius: 5px;
         color: #2f55d4;
         font-size: 18px;
         font-weight: bolder;
         box-shadow: 0px 2px 5px 1px rgba(47, 85, 212, 0.6);
         cursor: pointer;
         transition: 0.25s;
      }
      #email2 > button:hover{box-shadow: 0px 5px 15px 10px rgba(47, 85, 212, 0.6);}
      #email2> button:active{top: 2px;}

      /* bot */
      .cont-bot-footer{
         height: 100px;
         width: 100%;
         background-color: #27314f;
         border-top: 0.5px solid #313d63;
         display: flex;
         flex-flow: row nowrap;
         justify-content: space-around;
         padding: 30px 0;
      }
      .cont-bot-footer > p{
         font-size: 15px;
         color: #ADB5BD;
      }
      .cont-bot-footer > p > span{
         color: #E43F52;
         font-size: 20px;
      }

      .cont-bot-footer ul{display: flex;}
      .cont-bot-footer ul img{
         width: calc(57px - 15px);
         height: calc(39px - 10px);
         padding: 2.5px;
      }
/* BLOCCO 5 (FOOTER)*/
